<nav class="navbar navbar-expand-lg navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto" href="/">Daily Jokes
        <img src="../../../assets/clown.png" style="height: 30px"/>
      </a>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-arrow-clockwise"></i></a>
          </li>
          </ul>
      </div>
    </div>
  </nav>